
main {
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin-bottom: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin: 15px 0;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: #3b3f58;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#taskList {
  list-style: none;
  padding: 0;
}

.task-item {
  background: white;
  padding: 15px;
  border-left: 6px solid #3b3f58;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.task-item h3 {
  margin: 0;
}

.task-item small {
  color: gray;
}

.task-actions {
  margin-top: 10px;
}

.task-actions button {
  margin-right: 10px;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
.task-heading-label
{
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
